version: build-{build}

# Build worker image (VM template)
image: Visual Studio 2015

init: git config --global core.autocrlf input

clone_folder: C:\walls-of-doom\

# Fetch repository as zip archive
shallow_clone: true

before_build:
  - echo Installing dependencies...
  - mkdir C:\walls-of-doom\build
  - mkdir C:\walls-of-doom\build\include
  - mkdir C:\walls-of-doom\build\include\SDL2
  - mkdir C:\walls-of-doom\build\lib

  - appveyor DownloadFile http://www.libsdl.org/release/SDL2-devel-2.0.4-VC.zip
  - 7z x SDL2-devel-2.0.4-VC.zip > nul
  - copy SDL2-2.0.4\include\* C:\walls-of-doom\build\include\SDL2 > nul
  - copy SDL2-2.0.4\lib\x86\* C:\walls-of-doom\build\lib > nul

  - appveyor DownloadFile https://www.libsdl.org/projects/SDL_ttf/release/SDL2_ttf-devel-2.0.14-VC.zip
  - 7z x SDL2_ttf-devel-2.0.14-VC.zip > nul
  - copy SDL2_ttf-2.0.14\include\* C:\walls-of-doom\build\include\SDL2 > nul
  - copy SDL2_ttf-2.0.14\lib\x86\* C:\walls-of-doom\build\lib > nul

  - appveyor DownloadFile http://www.libsdl.org/projects/SDL_image/release/SDL2_image-devel-2.0.1-VC.zip
  - 7z x SDL2_image-devel-2.0.1-VC.zip > nul
  - copy SDL2_image-2.0.1\include\* C:\walls-of-doom\build\include\SDL2 > nul
  - copy SDL2_image-2.0.1\lib\x86\* C:\walls-of-doom\build\lib > nul

  - set PATH=C:\walls-of-doom\build\;%PATH%

  - echo Running cmake...
  - cd C:\walls-of-doom\build
  - cmake -G "Visual Studio 10 2010" ..  # Only make a 32-bit version

  - echo Building the project...
  - cmake --build . --config Release

build:
  # parallel: true                  # Enable MSBuild parallel builds
  # project: walls-of-doom.sln      # Path to Visual Studio solution or project

after_build:
  # Package the artifact
  - 7z a walls-of-doom\Release\walls-of-doom.zip .\walls-of-doom\Release\walls-of-doom.exe .\walls-of-doom\assets .\lib\*.dll

artifacts:
  - path: build\walls-of-doom\Release\walls-of-doom.zip
    name: walls-of-doom-windows.zip

deploy:
  provider: GitHub
  auth_token:
    secure: JaO/fskUcLorWunMYql+CKy6Hwc26EBCYY1Re4owoiBgQEADsVXY9pdr+iAAjvPb
  artifact: walls-of-doom-windows.zip
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true  # Deploy only on tags
